body {
    background-color: rgba(46, 45, 45, 0.996);
}
.box {
    display: inline-block;
    margin: 50px;
    width: 200px;
    height: 200px;
    position: relative;
}
.box > div {
    position: absolute;
    height: 100%;
    width: 100%;
}
.front {
    background-image: url(img/loves.jpg);
    background-position: center;
    opacity: 0.7;
    box-shadow: inset 4px 5px 10px;
}
.front {
    background: linear-gradient(rgba(255, 155, 155, 0.418) 25%, blue 70%, rgb(155, 212, 155) 90% );
}
.back {
    background-color: rgb(255, 255, 255);
    transform:  translateZ(-100px)
                rotateY(89deg);
    left: 100px;
    overflow: hidden;
    opacity: 1;
}
.back h1 {
    margin: 0;
    text-align: center;
    border-style: solid;
    border-color: red;
    border-width: 0 0 7px;
    width: 70%;
    margin-left: 15%;
}
.back p {
    text-align: center;
    border: 1px solid white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.box {
    transition-duration: 1s;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: translateX(0);
    transition-duration: 3s;
}
.box:hover { 
    transform:  perspective(800px)
    rotateY(-90deg);
    
}
.content {
    width: 264px;
    height: 264px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    animation: 10s rotacion infinite linear;
    box-shadow: 0 40px 40px #888;
    background-image: url(../img/mapa.png);
    box-shadow: inset 10px 0 15px black;
    
} 
@keyframes rotacion {
    0% {
        background-position: 0 0;    }
    100% {
        background-position: -38%;
    }
}